## Code 14 Data Analysis, vg-stats, Brandon Haynes, 30 Aug 2018

In [270]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt
from collections import Counter

In [271]:
df = pd.read_csv('./vgsales.csv')

In [272]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Which company is the most common video game publisher?

In [273]:
Counter(df.Publisher).most_common()[0][0]

'Electronic Arts'

Whatâ€™s the most common platform?

In [274]:
Counter(df.Platform).most_common()[0][0]

'DS'

What about the most common genre?

In [275]:
Counter(df.Genre).most_common()[0][0]

'Action'

What are the top 20 highest grossing games?

In [276]:
df.filter(items=['Name', 'Global_Sales'])[0: 21]

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22
20                 Pokemon Diamond/Pokemon Pearl         18.36

For North American video game sales, whatâ€™s the median?

In [277]:
# Length of the column of NA_Sales
length_na_sales = len(df.NA_Sales)
length_na_sales

16598

In [278]:
midpoint_na_sales = int(length_na_sales / 2)
midpoint_na_sales

8299

In [279]:
sorted_by_na_sales = df.sort_values(by="NA_Sales")["NA_Sales"]
sorted_by_na_sales[midpoint_na_sales]

0.15

Provide a secondary output showing â€˜aboutâ€™ ten games surrounding the median sales output

In [280]:
sorted_by_na_sales[midpoint_na_sales-5: midpoint_na_sales+5]

11138    0.08
4361     0.08
10463    0.08
10020    0.08
11144    0.08
8614     0.08
8613     0.08
10461    0.08
11145    0.08
11149    0.08
Name: NA_Sales, dtype: float64

For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [281]:
top_selling = df.filter(items=['Name', 'NA_Sales']).head()
top_selling

                       Name  NA_Sales
0                Wii Sports     41.49
1         Super Mario Bros.     29.08
2            Mario Kart Wii     15.85
3         Wii Sports Resort     15.75
4  Pokemon Red/Pokemon Blue     11.27

In [282]:
amt_top_sold = top_selling['NA_Sales'][0]
amt_top_sold

41.49

In [283]:
na_sold_std_dev = df.NA_Sales.std()
na_sold_std_dev

0.8166830292988796

In [284]:
na_sold_mean = df.NA_Sales.mean()
na_sold_mean

0.26466742981082064

In [288]:
distance_from_mean = amt_top_sold - na_sold_mean
distance_from_mean / na_sold_std_dev

50.47898767479108

The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [314]:
df.groupby(by="Platform")["Global_Sales"].mean()

Platform
2600    0.729925
3DO     0.033333
3DS     0.486169
DC      0.307115
DS      0.380254
GB      2.606633
GBA     0.387470
GC      0.358561
GEN     1.050370
GG      0.040000
N64     0.686144
NES     2.561939
NG      0.120000
PC      0.269604
PCFX    0.030000
PS      0.610920
PS2     0.581046
PS3     0.720722
PS4     0.827679
PSP     0.244254
PSV     0.149952
SAT     0.194162
SCD     0.311667
SNES    0.837029
TG16    0.080000
WS      0.236667
Wii     0.699404
WiiU    0.572448
X360    0.774672
XB      0.313422
XOne    0.662254
Name: Global_Sales, dtype: float64

Brandon's Question 1:

Brandon's Question 2:

Brandon's Question 3: