## Code 14 Data Analysis, vg-stats, Brandon Haynes, 30 Aug 2018

In [2]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df = pd.read_csv('./vgsales.csv')

In [4]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Which company is the most common video game publisher?

In [6]:
grouped = df.Year.groupby(df.Year)

Year
1980.0       9
1981.0      46
1982.0      36
1983.0      17
1984.0      14
1985.0      14
1986.0      21
1987.0      16
1988.0      15
1989.0      17
1990.0      16
1991.0      41
1992.0      43
1993.0      60
1994.0     121
1995.0     219
1996.0     263
1997.0     289
1998.0     379
1999.0     338
2000.0     349
2001.0     482
2002.0     829
2003.0     775
2004.0     763
2005.0     941
2006.0    1008
2007.0    1202
2008.0    1428
2009.0    1431
2010.0    1259
2011.0    1139
2012.0     657
2013.0     546
2014.0     582
2015.0     614
2016.0     344
2017.0       3
2020.0       1
Name: Year, dtype: int64

What’s the most common platform?

What about the most common genre?

What are the top 20 highest grossing games?

For North American video game sales, what’s the median?

Provide a secondary output showing ‘about’ ten games surrounding the median sales output

For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

Brandon's Question 1:

Brandon's Question 2:

Brandon's Question 3: